.ant-tree.ant-tree-block-node .ant-tree-list-holder-inner .ant-tree-node-content-wrapper {
    display: flex;
}

.container-demo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
